h2, h4 {
	margin-top: 0px;
}

body {
	margin: 0px;
	/* Old> font-family: "Open Sans", "Calibri", "Arial"; */
	font-family: 'Quicksand', sans-serif;
	background-color: #9A7DCF;
	
}

header, footer {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 16px;
}
header {
	text-align: center;
}

p {
	text-align: justify;
	margin: 10px 24px;
}

button {
	margin: 10px;
}

.title,
.subtitle {
	margin: 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.center {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.intro-emilia, .intro-rezero, .videos, .quiz-container {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 32px;
	margin: 32px;
	border-radius: 32px;
}

.images {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 32px;
	margin: 32px;
	border-radius: 32px;
}

.columns {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
	margin: 10px;
}

.column-image {
	max-width: 100%;
	max-height: 100%;
	border: #9A7DCF 5px solid;
}


.quiz-container > form > * {
	margin: 10px;
	display: block;
}


.video-centered {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.disclaimers {
	margin-bottom: 0px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

#surpriseText {
	visibility: hidden;
}

.topnav {
	background-color: #ECECEC;
	margin-top: 10px;
}

.nav-link {
	font-family: 'Quicksand', sans-serif;
	background-color: #F4D7D9;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px 16px;
	margin: 0;
	font-weight: 600;
	font-size: 30px;
}

.nav-link:hover {
	background-color: #dbcbd3;
}
