h2, h4 {
	margin-top: 0;
}

body {
	margin: 0;
	/* Old> font-family: "Open Sans", "Calibri", "Arial"; */
	font-family: 'Quicksand', sans-serif;
	background-color: #9A7DCF;
	
}

header, footer {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 1.25em;
	border-radius: 2em;
}

header {
	text-align: center;
}

p {
	text-align: justify;
	margin: 1em;
}

button {
	margin: 1em;
}

.title,
.subtitle {
	margin: 0;
}

.container {
	width: 90%;
    max-width: 1000px;
	margin: 0 auto;
}

.center {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.intro-emilia, .intro-rezero, .videos, .quiz-container, .images {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 2em;
	margin: 2em;
	border-radius: 2em;
}

.background {
	background-color: #F4D7D9;
}

.columns {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 0.4em;
	margin: 1em;
}

.column-image {
	max-width: 100%;
	max-height: 100%;
	border: #9A7DCF 5px solid;
}


.quiz-container > form > * {
	margin: 1em;
	display: block;
}


.video-centered {
	text-align: center;
	display: block;
	width: 100%;
}

.disclaimers {
	margin-bottom: 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.link:hover,
.link:focus {
	color: red;
}

#surpriseText {
	visibility: hidden;
}

/* Navigation */
/* 'Mobile first' approach */
.flex {
	display: flex;
}

.nav {
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #F4D7D9;
	padding: 0 2em;
}

.nav-title {
	padding: 0.5em;
	font-size: 3rem;
	text-decoration: underline;
}

.nav-links {
	display: flex;
	flex-direction: column;
	min-width: 70%;;
}

.nav-link {
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
	background-color: #ECECEC;
	text-align: center;
	text-decoration: none;
	padding: 0.35em 0.6em;
	margin: 0.5em;
	font-weight: 700;
	font-size: 1.9rem;
}

.nav-link:hover,
.nav-link:focus {
	background-color: #dbcbd3;
}

.nav-link:focus {
	color: black;
}

.current-page {
	text-decoration: underline;
}

.current-page:hover,
.current-page:focus {
	background-color: #ECECEC;
}

/* Responsive layout for nav-bar*/
@media (min-width: 750px) {
	.nav {
		flex-direction: row;
	}

	.nav-links {
		flex-direction: row;
	}
}

#quiz-outcome {
	background-color: #bda6e7;
	font-weight: bold;
	padding: 10px;
	border-radius: 15px;
	display: none;
}

/* Carousel functionality */

.carousel {
	max-width: 600px;
	height: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel-item,
.carousel-item-hidden {
	display: none;
	margin: auto 0;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-item img {
    width: 100%;
	max-width: 600px;
	object-fit: fill;
}

.carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.6s;
}

.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item img {
	box-shadow: 3px 3px 0.4em black;
}

#carousel-button-prev,
#carousel-button-next {
	border: unset;
	border: #F4D7D9 3px solid;
	background-color: #ECECEC;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    width: 50px;
    height: 50px;
	cursor: pointer;
}


#carousel-button-prev {
    margin-left: 20px;
}

#carousel-button-next {
    margin-right: 20px;
}

/* TODO: Add dots to indicate which slide you're on */

/* Carousel animation */

/* Fade in */
@keyFrames fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
