body {
	margin: 0px;
	font-family: "Open Sans", "Calibri", "Arial";
	background-color: #9A7DCF;
}

footer {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 4px 16px;
	margin: 16px;
}

header {
	text-align: center;
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 25px 0px;
	margin: 16px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.center {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.intro-emilia {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 32px;
	margin: 32px;
	border-radius: 32px;
}

.intro-rezero {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 32px;
	margin: 32px;
	border-radius: 32px;
}

.images {
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 16px;
	margin: 32px;
	border-radius: 32px;
}

.columns {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
	margin: 10px;
}

.column-image {
	max-width: 100%;
	max-height: 100%;
	border: #9A7DCF 5px solid;
}

.videos {
	margin: 32px;
	background: #ECECEC;
	border: #F4D7D9 10px solid;
	padding: 16px;
	border-radius: 32px;
}

.video-centered {
	border: #F4D7D9 10px solid;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
